* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Stick No Bills', sans-serif;
    background: url("https://wallpapercave.com/wp/wp9328005.jpg") no-repeat center center;
    background-size: cover;
    height: 90vh;
}

header {
    height: 10vh;
    background: #252323;
    align-items: center;
    justify-content: center;
    display: flex;
}

img {
    width: 155px;
    transition: 0.3s;
    margin-top: 40px;
}

img:hover {
    opacity: 0.6;
}

#menu {
    z-index: 2;
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    margin-left: 40px;
}

.bar {
    height: 5px;
    width: 70%;
    background-color: aqua;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
}

.nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
    color: aqua;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: #2B1E40;
    border-radius: 5%;
    transition: 0.5s ease;
}

.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
}

.change {
    display: block;
}

.change .bar {
    background-color: aqua;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 280px;
    height: 136vh;
    transform: translate(-56%, -30%);
}

.coluna-e {
    color: white;
    height: 90vh;
    width: 125px;
    background-color: #252323;
    float: left;
    opacity: 0.6;
    text-align: center;
}

.ods-nav {
    color: aqua;
    margin-top: 10px;
    line-height: 30px;
}

main {
    height: 80vh;
    width: 150vh;
    background-color: #252323;
    float: left;
    opacity: 0.8;
    margin-top: 6vh;
    margin-left: 50px;
    border-radius: 10px;
}

aside {
    color: white;
    height: 90vh;
    width: 125px;
    background-color: #252323;
    float: right;
    opacity: 0.6;
    text-align: center;
}

footer {
    color: white;
    background-color: #252323;
    height: 15vh;
    width: 100%;
    clear: both;
    text-align: center;
    justify-content: center;
}

.ONU {
    width: 40px;
    height: 40px;
    margin-top: auto;
}

.ONU:hover {
    opacity: 0.6;
}

.info {
    font-size: 14px;
    color: aqua;
    text-decoration: none;
}

.info:hover {
    opacity: 0.6;
}

.email {
    color: aqua;
    font-size: 14px;
    text-decoration: none;
}

.email:hover {
    opacity: 0.6;
}

.telefone {
    color: aqua;
    font-size: 14px;
    text-decoration: none;
}

.telefone:hover {
    opacity: 0.6;
}

address {
    color: blueviolet;
    font-size: 12px;
}

.texto-main {
    color: white;
    font-size: 17px;
    text-align: left;
    margin: 35px 30px;
    padding-right: 500px;
}

.main-ia {
    width: 350px;
    height: 400px;
    float: right;
    padding-right: 100px;
}

.main-ia:hover {
    opacity: 1;
}

h1 {
    padding-left: 35px;
    font-size: 40px;
    color: aqua;
    text-align: center;
}

.texto-main2 {
    color: white;
    font-size: 17px;
    text-align: right;
    padding-left: 500px;
    margin-top: -450px;
    margin-right: 30px;
}